
.App {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    background: var(--background);
    background-attachment: fixed;
}

html,body, #root {
    height:100%
}

.Header {
    background: var(--light-background);
    display: flex;
    position: relative;
    flex: 0 1
}

nav a{
    display: inline-block;
    text-align: center;
    color: var(--text-color);
}

nav a.active{
    background: var(--text-color);
    color: var(--light-highlight);
}

.Content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

:root {
    --unnamed-color-ffda9a: #FFDA9A;
    --lightdark: #F3EDFF;
    --light-background: #A198B3;
    --light-highlight: #F8BF04;
    --dark-highlight: #564F68;
        --ink-black: #000000;
        --text-color: #ffffff;
    }

.site-title {
    font-family: Montserrat, sans-serif;
    color: var(--dark-highlight);
    font-weight: 700;
}
.topbar-icon {
    color: var(--light-highlight);
    width: 32px;
    height: 32px;
}